---
title: 一覧画面
menuLink: Home
sortOrder: 01
---

{{#extend "lyt-default"}}
    {{#content "main"}}
        <div class="block">
            <div class="content">

                <div class="clearfix mb15">
                    <select class="pull-left">
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                    </select>

                    <a class="btn pull-right">グラフ画面</a>
                    <a class="btn pull-right mr15">管理画面</a>
                </div>

                <div class="clearfix align-center mb15">
                    <a class="btn pull-left"><i class="fa fa-caret-left" aria-hidden="true">&nbsp;</i>前日</a>
                    <span class="table-title">2016年10月1日</span>
                    <a class="btn pull-right">翌日<i class="fa fa-caret-right" aria-hidden="true">&nbsp;</i></a>
                </div>

                <div class="table-responsive">
                    <table class="phuc-table">
                        <thead>
                        <th></th>

                        <th>1日の合計</th>
                        <th>2日の合計</th>
                        <th>3日の合計</th>
                        <th>4日の合計</th>
                        <th>5日の合計</th>
                        <th>6日の合計</th>
                        <th>7日の合計</th>
                        <th>8日の合計</th>
                        <th>9日の合計</th>
                        <th>10日の合計</th>
                        </thead>

                        <tbody>
                        <tr>
                            <th>歩数(A)</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>歩行時間(分)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>
                        <tr>
                            <th>グラフ</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>消費カロリー(kcal)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>
                        <tr>
                            <th>歩行距離(km)</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>脂肪燃焼量(g)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>
                        <tr>
                            <th>歩数(A)</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>歩行時間(分)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>
                        <tr>
                            <th>グラフ</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>消費カロリー(kcal)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>
                        <tr>
                            <th>歩行距離(km)</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>脂肪燃焼量(g)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr><tr>
                            <th>歩数(A)</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>歩行時間(分)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>
                        <tr>
                            <th>グラフ</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>消費カロリー(kcal)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>
                        <tr>
                            <th>歩行距離(km)</th>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                            <td>2,126</td>
                        </tr>
                        <tr>
                            <th>脂肪燃焼量(g)</th>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                            <td>622</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
