---
title: Facebook
menuLink: Home
sortOrder: 04
---

{{#extend "lyt-default"}}
    {{#content "main"}}
        <div class="block">
            <div class="content">
                <!-- Modal Share Post-->
                <div id="modal-share" class="modal">
                    <div class="modal-content">
                        <div class="modal-header clearfix">
                            <span class="close-share">×</span>
                        </div>
                        <textarea cols="30" rows="10" placeholder="Say something about this..."></textarea>
                        <div class="modal-body">
                            <div class="postHeader">
                                <img class="avatar pull-left" src="{{assets}}img/default_avatar.gif">
                                <h3 class="postTitle"><a href="#">Connor Turnbull </a>designing for, and as, <a
                                        href="#">a
                                    Color-Blind Person</a></h3>
                                <span class="postInfo"><a href="#"></a> on Jul 22nd 2011 ·<span class="hint--top"
                                                                                                aria-label="Public"><i
                                        class="fa fa-globe" aria-hidden="true"></i></span>
                                </span>
                            </div>

                            <div class="postContent">
                                <p class="postContent">Color blindness is a mild disability through which
                                    the affected experience a decreased ability to distinguish colors from others. This
                                    can be a
                                    real drawback for anyone in the design field since color theory is an integral
                                    feature in
                                    successful design, and a lot of decisions are based on the feeling and emotion
                                    derived from
                                </p>
                            </div>

                            <img id="img01.1" class="img-responsive postImg" src="{{assets}}img\cake-images.jpg">
                        </div>
                        <div class="modal-footer">
                            <div class="align-right">
                                <button class="btn">Cancel</button>
                                <button class="btn btn-primary">Post</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /Modal Share Post-->

                <!-- Modal Image-->
                <div id="modal-image" class="modal">
                    <span class="close" onclick="document.getElementById('modal-image').style.display='none'">&times;</span>
                    <img id="img-content">
                    <div id="caption"></div>
                </div><!-- /Modal Image-->

                <div class="post">
                    <div class="postHeader">
                        <img class="avatar pull-left" src="{{assets}}img/default_avatar.gif">
                        <h3 class="postTitle"><a href="#">Connor Turnbull </a>designing for, and as, <a href="#">a
                            Color-Blind Person</a></h3>
                        <span class="postInfo"><a href="#"></a> on Jul 22nd 2011 ·
                            <span class="hint--top" aria-label="Public"><i class="fa fa-globe"
                                                                           aria-hidden="true"></i></span>
                        </span>
                    </div>

                    <div class="postContent">
                        <p class="postContent">Color blindness is a mild disability through which
                            the affected experience a decreased ability to distinguish colors from others. This can be a
                            real drawback for anyone in the design field since color theory is an integral feature in
                            successful design, and a lot of decisions are based on the feeling and emotion derived from
                        </p>
                        <a id="more" href="#">...Read More</a>
                        <p id="hidden-content" class="hidden">This is more sample text to represent additional text
                            after the button has expanded the text. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Ad aliquid enim est, excepturi fugit hic ipsa iure magnam minus nam perspiciatis placeat
                            quibusdam quidem repellendus sed totam, unde velit voluptates! </p>
                    </div>

                    <img id="img01" class="img-responsive postImg" src="{{assets}}img\cake-images.jpg">

                    <div class="like-stat"> <!-- Like statistic container-->
                        <span class="like-emo"> <!-- like emotions container -->
                                    <span class="like-btn-like"></span>
                            <!-- given emotions like, wow, sad (default:Like) -->
                                </span>
                        <span  class="like-details">Arkaprava Majumder and 1k others</span>
                    </div>
                    <span class="line"></span>

                    <div class="feed strong">
                        <!-- Reaction system start -->
                        <span class="like-btn"> <!-- Default like button -->
                            <span  class="like-btn-emo like-btn-default"></span> <!-- Default like button emotion-->
                            <span  class="like-btn-text">Like</span>
                            <!-- Default like button text,(Like, wow, sad..) default:Like  -->
                              <ul class="reactions-box"> <!-- Reaction buttons container-->
                                    <li class="reaction reaction-like" data-reaction="Like"></li>
                                    <li class="reaction reaction-love" data-reaction="Love"></li>
                                    <li class="reaction reaction-haha" data-reaction="HaHa"></li>
                                    <li class="reaction reaction-wow" data-reaction="Wow"></li>
                                    <li class="reaction reaction-sad" data-reaction="Sad"></li>
                                    <li class="reaction reaction-angry" data-reaction="Angry"></li>
                            </ul>
                        </span>
                        <!-- Reaction system end -->
                        <span id="comment" class="post-btn"><i class="fa fa-comment-o" aria-hidden="true">&nbsp;</i>Comment</span>
                        <span id="share" class="post-btn"><i class="fa fa-share"
                                                             aria-hidden="true">&nbsp;</i>Share</span>
                    </div>


                    <div class="postComment hidden">
                        <span class="line"></span>
                        <form action="" method="post" class="mt5 clearfix">
                            <img class="avatar pull-left" src="{{assets}}img/default_avatar.gif">
                            <div class="comment-wrapper pull-left">
                                <input class="comment" placeholder="Say something"/>
                                <a href="#"><span class="fa fa-camera cameraBtn"></span></a>
                                <a href="#"><span class="fa fa-smile-o stickerBtn"></span></a>
                            </div>
                        </form>
                    </div>

                </div><!--End Post Facebook-->
            </div>
        </div>
    {{/content}}
{{/extend}}