---
title: 管理画面
menuLink: Home
sortOrder: 02
---

{{#extend "lyt-default"}}
    {{#content "main"}}
        <div class="block">
            <div class="content">

                <div class="clearfix mb15">
                    <select class="pull-left">
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                    </select>

                    <a class="btn pull-right">グラフ画面</a>
                    <a class="btn pull-right mr15">管理画面</a>
                </div>

                <div class="table-responsive">
                    <table class="phuc-table w100p">
                        <thead>
                        <th></th>
                        <th>一覧</th>
                        <th>グラフ</th>
                        </thead>

                        <tbody>
                        <tr>
                            <th>歩数(歩)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" checked/></td>
                        </tr>
                        <tr>
                            <th>歩行時間(分)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>消費カロリー(kcal)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>歩行距離(km)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>脂肪燃焼量(g)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" checked/></td>
                        </tr>
                        <tr>
                            <th>しっかり歩行(歩)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr><tr>
                            <th>歩数(歩)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" checked/></td>
                        </tr>
                        <tr>
                            <th>歩行時間(分)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>消費カロリー(kcal)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>歩行距離(km)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>脂肪燃焼量(g)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" checked/></td>
                        </tr>
                        <tr>
                            <th>しっかり歩行(歩)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr><tr>
                            <th>歩数(歩)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" checked/></td>
                        </tr>
                        <tr>
                            <th>歩行時間(分)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>消費カロリー(kcal)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>歩行距離(km)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        <tr>
                            <th>脂肪燃焼量(g)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" checked/></td>
                        </tr>
                        <tr>
                            <th>しっかり歩行(歩)</th>
                            <td><input type="checkbox" value="checked" checked/></td>
                            <td><input type="checkbox" value="checked" /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="clearfix align-center mt15">
                    <a class="btn mr15">登録</a>
                    <a class="btn">戻る</a>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}