---
title: チャート画面
menuLink: Home
sortOrder: 03
---

{{#extend "lyt-default"}}
    {{#content "main"}}
        <div class="block">
            <div class="content">

                <div class="clearfix mb15">
                    <select class="pull-left">
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                        <option value="">Format 1</option>
                    </select>

                    <a class="btn pull-right ">管理画面</a>
                    <a class="btn pull-right mr15">一覧画面</a>
                </div>

                <div class="clearfix align-center mb15">
                    <a class="btn pull-left"><i class="fa fa-caret-left" aria-hidden="true">&nbsp;</i>前日</a>
                    <span class="table-title">2016年10月1日</span>
                    <a class="btn pull-right">翌日<i class="fa fa-caret-right" aria-hidden="true">&nbsp;</i></a>
                </div>

                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Chart 1</a></li>
                        <li><a href="#tabs-2">Chart 2</a></li>
                        <li><a href="#tabs-3">Chart 3</a></li>
                        <li><a href="#tabs-4">Chart 4</a></li>
                        <li><a href="#tabs-5">Chart 5</a></li>

                    </ul>
                    <div id="tabs-1">
                        <canvas id="Chart1" width="400" height="400"></canvas>
                    </div>
                    <div id="tabs-2">
                        <canvas id="Chart2" width="400" height="400"></canvas>
                    </div>
                    <div id="tabs-3">
                        <canvas id="Chart3" width="400" height="400"></canvas>
                    </div>
                    <div id="tabs-4">
                        <canvas id="Chart4" width="400" height="400"></canvas>
                    </div>
                    <div id="tabs-5">
                        <canvas id="Chart5" width="400" height="400"></canvas>
                    </div>
                </div>

            </div>
        </div>
    {{/content}}
{{/extend}}