.validate-error {
	color: red;
}

.add-item {
	color: red
}

.delete-item {
	color: blue;
	text-decoration: line-through;
}

.grid-app {
    width: 238px;
    height: 220px;
    border: 1px solid #C0C0C0;
    display: inline-block;
}

.grid-app-login {
    width: 231px;
    height: 220px;
    border: 1px solid #C0C0C0;
    display: inline-block;
    vertical-align: bottom;
}

.grid-table {
	margin-left: 5px;
    margin-top: 10px;
}

.grid-btn {
	min-width: 80px;
	background: #66CCFF;
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 130px;
}

.grid-td {
	vertical-align: top;
	word-break: none;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}
.grid-p {
	margin-left: 10px;
}

.appsearch {
	width: 100%;
	margin-bottom: 2px;
}

.appsearch_title {
	width: 245px;
	display: inline-block;
	vertical-align: top;
}

.appsearch_title.logined {
	width: 200px;
}

.appsearch_inuse {
	width: 70px;
	display: inline-block;
}

.appsearch_op {
	width: 730px;
	text-align: right;
	display: inline-block;
}

.appsearch_op.logined {
	width: 441px;
}

.appsearch_op select, .appsearch_op input[type="text"] {
	margin-top: 0px;
	padding: 0px;
	vertical-align: bottom;
}

.appsearch_op .btn {
	padding: 5px;
	height: 26px;
	vertical-align: bottom;
}

.appname {
	font-size: 16px;
	color: black;
	padding: 0px;
}

.appcat {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 132px;
}

.ellipsis {
	position: relative;
	max-height: 100px;
	overflow: hidden;
	line-height: 25px;
}

.ellipsis:before, .ellipsis:after {
	position: absolute;
	background: #fff;
}

.ellipsis:before {
	content: "...";
	bottom: 0;
	right: 0;
}

.ellipsis:after {
	content: "";
	width: 100%;
	height: 100%;
}

.new_apps {
	word-wrap: break-word;
}
}