.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

body {
	line-height: 1
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html {
	font-size: 100%
}

body {
	font-family: "Hiragino Kaku Gothic Pro", Osaka, Meiryo, MS UI Gothic, sans-serif;
	font-size: .75em;
	color: #666;
	background: #fff
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0
}

.clearfix {
	*zoom: 1
}

.clearfix:before,.clearfix:after {
	display: table;
	line-height: 0;
	content: ""
}

.clearfix:after {
	clear: both
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Hiragino Kaku Gothic Pro", Osaka, Meiryo, MS UI Gothic, sans-serif;
	font-weight: normal;
	color: #003aa8;
	/*margin: .5em 0 .8em 0*/
	margin: .2em 0 .3em 0
}

h1 {
	font-size: 25px
}

h2 {
	font-size: 19px
}

h3 {
	font-size: 13px
}

h4 {
	font-size: 11px
}

h5 {
	font-size: 10px
}

h6 {
	font-size: 12px
}

small {
	font-size: .85em;
	color: #999
}

strong,b {
	font-weight: bold
}

em,i {
	font-style: italic
}

mark {
	background: none
}

blockquote {
	line-height: 1.6;
	padding: 1.5em;
	margin: 0 0 1.5em 2em;
	background: #f9f9f9;
	border-left: 3px solid #ccc
}

blockquote p:last-child {
	padding: 0
}

p {
	line-height: 1.6;
	font-size: 1em;
	padding: 0 0 1em 0
}

.no-spacing {
	margin: 0 !important;
	padding: 0 !important
}

.no-spacing-b {
	padding-bottom: 0
}

.half-spacing-b {
	padding-bottom: .5em
}

.double-spacing-b {
	padding-bottom: 2em
}

.spacing-t {
	padding-top: 1em
}

.half-spacing-t {
	padding-top: .5em
}

.double-spacing-t {
	padding-top: 2em
}

.align-center {
	text-align: center
}

.align-right {
	text-align: right
}

.align-left {
	text-align: left
}

a {
	color: #009cdf;
	text-decoration: none
}

a:hover {
	color: #003aa8;
	text-decoration: underline
}

a.underline {
	text-decoration: underline
}

a.noline,a.noline:hover {
	text-decoration: underline
}

.img-circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px
}

.img-border {
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

.post ul {
	margin: 0 0 1em 2.5em
}

.post ul li {
	line-height: 1.5;
	padding: 0 0 .6em 0;
	list-style: disc outside
}

.post ul ul {
	margin: .5em 0 0 1.5em
}

.post ul ul li:last-child {
	padding-bottom: 0
}

.post ol {
	margin: 0 0 1em 2.5em
}

.post ol li {
	list-style: decimal outside;
	line-height: 1.4;
	padding: 0 0 .6em 0
}

.post ol ol {
	margin: .5em 0 0 2em
}

.post ol ol li:last-child {
	padding-bottom: 0
}

.post table {
	margin: 1em auto 2em auto;
	line-height: 1.4
}

.post table td {
	vertical-align: middle;
	padding: 1em
}

.post table img {
	margin: 0 !important;
	vertical-align: middle
}

table.full-width {
	width: 100%
}

table.data {
	min-width: 70%;
	margin: 1em auto 2em auto;
	border: 1px solid #ccc
}

table.data th,table.data td {
	padding: .7em;
	line-height: 1em
}

table.data th {
	font-weight: bold;
	background: #999;
	border: 1px solid #999;
	color: #fff;
	text-align: left
}

table.data td {
	border-top: 1px dotted #bbb;
	border-left: 1px dotted #bbb;
	border-right: 1px dotted #bbb;

}

table.data tr:hover {
	background: #ffc !important
}

table.data tr:nth-child(2n) {
	background: #f9f9f9
}

table.data tr.even {
	background: #ffffff;
}

table.data tr.odd {
	background: #f9f9f9;
}

table.data ul {
	margin-left: 1em !important
}

table.data .up {
	color: #009cdf;
	font-weight: bold;
	font-size: 15px
}

.block-border {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	background: #f9f9f9
}

.form-row {
	width: 100%;
	*zoom: 1;
	margin-bottom: 5px
}

.form-row:before,.form-row:after {
	display: table;
	line-height: 0;
	content: ""
}

.form-row:after {
	clear: both
}

.form-row-label {
	float: left;
	width: 20%;
	text-align: right;
	padding-top: 6px
}

.form-row-field {
	float: right;
	width: 75%;
	min-height: 32px;
	line-height: 32px
}

.form-row-field label {
	margin-right: 1em
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]
	{
	border: 1px solid #ccc;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	padding: 2px 6px;
	height: 26px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: "Hiragino Kaku Gothic Pro", Osaka, Meiryo, MS UI Gothic, sans-serif;
	font-size: 13px;
	color: #666;
	width: 100%;
	max-width: 250px;
	margin: 0
}

select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus
	{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px
		rgba(82, 168, 236, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px
		rgba(82, 168, 236, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px
		rgba(82, 168, 236, .6)
}

select.err,textarea.err,input[type="text"].err,input[type="password"].err,input[type="datetime"].err,input[type="datetime-local"].err,input[type="date"].err,input[type="month"].err,input[type="time"].err,input[type="week"].err,input[type="number"].err,input[type="email"].err,input[type="url"].err,input[type="search"].err,input[type="tel"].err,input[type="color"].err
	{
	color: #f00;
	background: #ffefef
}

textarea {
	max-width: none;
	width: 100%;
    padding: 1px 5px !important;
	resize: vertical;
	height: 7em;
	line-height: 1.3em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
textarea {
	margin: 0;
	padding: 0;
}

select.tiny,input.tiny {
	width: 70px
}

select.small,input.small {
	width: 100px
}

select,label {
	cursor: pointer
}

.required {
	color: #f00
}

.form-alert-success,.form-alert-err {
	padding: .8em;
	margin-bottom: 1.2em
}

.form-alert-success ul,.form-alert-err ul {
	margin: 0 0 0 1.5em
}

.form-alert-success li,.form-alert-err li {
	padding: 0 0 .3em 0;
	line-height: 1.3;
	list-style: disc
}

.form-alert-success {
	color: #01b40a;
	background: #ecffea
}

.form-alert-err {
	color: #f00;
	background: #ffefef
}

.field-valid {
	border: 1px solid #15b000 !important
}

.field-invalid {
	border: 1px solid #f00 !important;
	background: #ffefef !important;
	color: #f00 !important
}

.form-valid-instruction {
	color: #15b000;
	padding-left: 2px
}

.form-invalid-instruction {
	color: #f00;
	padding-left: 2px
}

.form-err-msg {
	color: #f00;
	font-size: .85em;
	padding-bottom: .5em !important
}

.btn {
	font-family: "Hiragino Kaku Gothic Pro", Osaka, Meiryo, MS UI Gothic, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	padding: 0 1em;
	display: inline-block;
	color: #009cdf;
	border: 1px solid #ccc;
	font-weight: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #fff;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f3f3f3),
		color-stop(1, #fff));
	background: -ms-linear-gradient(bottom, #f3f3f3, #fff);
	background: -moz-linear-gradient(center bottom, #f3f3f3 0, #fff 100%);
	background: -o-linear-gradient(#fff, #f3f3f3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#f3f3f3', GradientType=0);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	font-size: 12px
}

.btn:hover {
	background: #f3f3f3;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff),
		color-stop(1, #f3f3f3));
	background: -ms-linear-gradient(bottom, #fff, #f3f3f3);
	background: -moz-linear-gradient(center bottom, #fff 0, #f3f3f3 100%);
	background: -o-linear-gradient(#f3f3f3, #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3',
		endColorstr='#ffffff', GradientType=0);
	color: #009cdf;
	text-decoration: none
}

.btn:active {
	background: #f3f3f3;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3)
}

.btn-primary {
	background: #18a5cf;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #18a5cf),
		color-stop(1, #7bd0ed));
	background: -ms-linear-gradient(bottom, #18a5cf, #7bd0ed);
	background: -moz-linear-gradient(center bottom, #18a5cf 0, #7bd0ed 100%);
	background: -o-linear-gradient(#7bd0ed, #18a5cf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bd0ed',
		endColorstr='#18a5cf', GradientType=0);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-color: #18a5cf;
	border-bottom-color: #087596;
	color: #fff
}

.btn-primary:hover {
	background: #25bae6;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7bd0ed),
		color-stop(1, #18a5cf));
	background: -ms-linear-gradient(bottom, #7bd0ed, #18a5cf);
	background: -moz-linear-gradient(center bottom, #7bd0ed 0, #18a5cf 100%);
	background: -o-linear-gradient(#18a5cf, #7bd0ed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18a5cf',
		endColorstr='#7bd0ed', GradientType=0);
	color: #fff
}

.btn-primary:active {
	background: #18a5cf
}

.btn-large {
	font-size: 1.1em;
	height: 42px;
	line-height: 42px
}

.btn-small {
	height: 30px;
	text-align: center;
}

body {
	background: #eee
}

#wrapper {
	width: 980px;
	padding: 0 20px;
	margin: 0 auto;
	background: #fff
}

#header-main {
	height: 100px;
	position: relative
}

#header-main #logo {
	position: absolute;
	top: 18px;
	left: 0
}

#header-main #tagline {
	position: absolute;
	top: 40px;
	left: 270px
}

#header-main #top-links {
	position: absolute;
	top: 10px;
	right: 0;
	color: #ccc;
	font-size: 13px
}

#header-main #header-search {
	position: absolute;
	top: 48px;
	right: 110px;
	width: 290px
}

#header-main #header-search input[type="text"] {
	float: left;
	width: 200px;
	margin-right: 10px
}

#header-main #header-search input[type="submit"] {
	width: 80px;
	float: left
}

#header-main #header-login {
	position: absolute;
	top: 48px;
	right: 0
}

#header-main #header-login .btn {
	width: 90px
}

#header-main #header-username {
	position: absolute;
	top: 20px;
	left: 580px
}

#header-main #header-login-time {
	position: absolute;
	bottom: 15px;
	#left: 580px;
	right: 0px;
	#text-align: right;
	color: #999
}

#header-main #header-login-time p {
	padding: 0;
	line-height: 1.5
}

#header-main #header-logout {
	position: absolute;
	bottom: 15px;
	right: 0
}

#header-main #header-logout .btn {
	width: 95px
}

#nav-main {
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background: #009cdf url(../images/nav-bg.png) repeat-x;
	margin-bottom: 20px
}

#nav-main ul {
	*zoom: 1
}

#nav-main ul:before,#nav-main ul:after {
	display: table;
	line-height: 0;
	content: ""
}

#nav-main ul:after {
	clear: both
}

#nav-main ul li {
	float: left;
	padding-right: 2px;
	background: url(../images/nav-sep.png) top right no-repeat
}

#nav-main ul li a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	color: #fff;
	font-size: 16px
}

#nav-main ul li.active a,#nav-main ul li a:hover {
	background: #009cdf;
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	text-decoration: none
}

#footer-main {
	text-align: center;
	color: #999;
	padding: 30px;
	border-top: 1px solid #ddd;
	font-size: 13px;
	margin-top: 50px
}

#footer-main p {
	padding: 0;
	line-height: 1.8
}

#footer-main p.footer-links {
	color: #ccc
}

#main {
	*zoom: 1
}

#main:before,#main:after {
	display: table;
	line-height: 0;
	content: ""
}

#main:after {
	clear: both
}

#main-left {
	float: left;
	width: 240px
}

#main-right {
	float: right;
	width: 720px
}

#pathway {
	margin-bottom: 20px;
	display: none;
}

.block {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px
}

.block .heading {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	background: #fcfcfc;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f5f5f5),
		color-stop(1, #fcfcfc));
	background: -ms-linear-gradient(bottom, #f5f5f5, #fcfcfc);
	background: -moz-linear-gradient(center bottom, #f5f5f5 0, #fcfcfc 100%);
	background: -o-linear-gradient(#fcfcfc, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',
		endColorstr='#f5f5f5', GradientType=0)
}

.block .heading h3 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 14px
}

.block .content {
	background: #fff;
	padding: 20px
}

.action-buttons {
	background: #f6f6f6;
	padding: 15px;
	text-align: center;
	margin: 15px 0 20px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.action-buttons a {
	margin: 0 5px
}

.form-table {
	width: 100%;
	margin-bottom: 20px;
}

.form-table th,.form-table td {
	padding: 6px 9px 6px 9px;
	text-align: left;
	border: 1px solid #ccc;
	vertical-align: middle;
	line-height: 1.4
}

.form-table th {
	background: #009cdf;
	color: #fff;
	border-color: #009cdf;
	font-size: 13px
}

.form-table td.cell-merged {
	background: #e4f6fd
}

.form-table td.cell-left {
	background: #f6f6f6;
	width: 280px
}

.form-table td.cell-right label {
	min-width: 40px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}

.form-table td.cell-right label.radio {
	margin-right: 15px
}

.form-table .pull-right {
	float: right
}

.form-table input[type="text"],.form-table input[type="email"],.form-table input[type="password"],.form-table input[type="text"],.form-table select
	{
	margin: 0 15px 0 0
}

.form-table input[type="text"].full,.form-table input[type="email"].full,.form-table input[type="password"].full,.form-table input[type="text"].full,.form-table select.full
	{
	width: 100%;
	margin: 0;
	max-width: none
}

.form-table input[type="text"].half,.form-table input[type="email"].half,.form-table input[type="password"].half,.form-table input[type="text"].half,.form-table select.half
	{
	width: 120px
}

.form-table input[type="text"].no-margin,.form-table input[type="email"].no-margin,.form-table input[type="password"].no-margin,.form-table input[type="text"].no-margin,.form-table select.no-margin
	{
	margin: 0
}

.form-table .half-sep {
	margin: 0 10px 0 -5px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}

.form-table textarea {
	/*min-height: 130px*/
}

.form-table .data-half {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 40%
}

.form-table ul {
	margin: 0 0 1em 1em
}

.form-table ul li {
	margin: 0 0 0 1em;
	padding-bottom: 5px;
	line-height: 1.4;
	list-style: disc
}

.form-table-small {
	font-size: 12px
}

.form-table-small td.cell-left {
	width: 185px
}

.form-table-small input[type="text"],.form-table-small input[type="email"],.form-table-small input[type="password"],.form-table-small input[type="text"],.form-table-small select
	{
	max-width: 170px;
	margin: 0 10px 0 0
}

.form-table-small .half-sep {
	margin: 0 5px 0 -5px
}

table .half-third,
table input[name^=tel],
table input[name^=fax],
table input[name^=zipCode]
{
	width: 120px;
	margin: 0px;
}

.btn-blue {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 17px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #1aafee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0691cd),
		color-stop(1, #1aafee));
	background: -ms-linear-gradient(bottom, #0691cd, #1aafee);
	background: -moz-linear-gradient(center bottom, #0691cd 0, #1aafee 100%);
	background: -o-linear-gradient(#1aafee, #0691cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1aafee',
		endColorstr='#0691cd', GradientType=0)
}

.btn-blue:hover {
	text-decoration: none;
	background: #0691cd;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1aafee),
		color-stop(1, #0691cd));
	background: -ms-linear-gradient(bottom, #1aafee, #0691cd);
	background: -moz-linear-gradient(center bottom, #1aafee 0, #0691cd 100%);
	background: -o-linear-gradient(#0691cd, #1aafee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0691cd',
		endColorstr='#1aafee', GradientType=0)
}

#a001-login {
	margin-bottom: 10px
}

.btn-register,.btn-vendor {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	display: block;
	padding: 20px 25px;
	font-size: 18px;
	line-height: 1.5;
	position: relative
}

.btn-register:hover,.btn-vendor:hover {
	text-decoration: none
}

.btn-register:before,.btn-vendor:before {
	content: "";
	position: absolute;
	bottom: 15px;
	right: 15px
}

.btn-register {
	color: #fff;
	background: #ee0002;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ce0002),
		color-stop(1, #ee0002));
	background: -ms-linear-gradient(bottom, #ce0002, #ee0002);
	background: -moz-linear-gradient(center bottom, #ce0002 0, #ee0002 100%);
	background: -o-linear-gradient(#ee0002, #ce0002);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee0002',
		endColorstr='#ce0002', GradientType=0)
}

.btn-register:hover {
	background: #ce0002;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ee0002),
		color-stop(1, #ce0002));
	background: -ms-linear-gradient(bottom, #ee0002, #ce0002);
	background: -moz-linear-gradient(center bottom, #ee0002 0, #ce0002 100%);
	background: -o-linear-gradient(#ce0002, #ee0002);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0002',
		endColorstr='#ee0002', GradientType=0);
	color: #fff
}

.btn-register:before {
	background: url(../images/icon-register.png) no-repeat;
	width: 38px;
	height: 34px
}

.btn-vendor {
	color: #009cdf;
	border: 1px solid #a3d0e4;
	background: #f9fdff;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dbf4ff),
		color-stop(1, #f9fdff));
	background: -ms-linear-gradient(bottom, #dbf4ff, #f9fdff);
	background: -moz-linear-gradient(center bottom, #dbf4ff 0, #f9fdff 100%);
	background: -o-linear-gradient(#f9fdff, #dbf4ff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff',
		endColorstr='#dbf4ff', GradientType=0)
}

.btn-vendor:hover {
	background: #dbf4ff;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f9fdff),
		color-stop(1, #dbf4ff));
	background: -ms-linear-gradient(bottom, #f9fdff, #dbf4ff);
	background: -moz-linear-gradient(center bottom, #f9fdff 0, #dbf4ff 100%);
	background: -o-linear-gradient(#dbf4ff, #f9fdff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbf4ff',
		endColorstr='#f9fdff', GradientType=0);
	color: #009cdf
}

.btn-vendor:before {
	background: url(../images/icon-vendors.png) no-repeat;
	width: 48px;
	height: 32px
}

#a001-banner {
	margin-bottom: 10px
}

#a001-register {
	margin-bottom: 10px
}

#a001-register a {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 17px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #1aafee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0691cd),
		color-stop(1, #1aafee));
	background: -ms-linear-gradient(bottom, #0691cd, #1aafee);
	background: -moz-linear-gradient(center bottom, #0691cd 0, #1aafee 100%);
	background: -o-linear-gradient(#1aafee, #0691cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1aafee',
		endColorstr='#0691cd', GradientType=0)
}

#a001-register a:hover {
	text-decoration: none;
	background: #0691cd;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1aafee),
		color-stop(1, #0691cd));
	background: -ms-linear-gradient(bottom, #1aafee, #0691cd);
	background: -moz-linear-gradient(center bottom, #1aafee 0, #0691cd 100%);
	background: -o-linear-gradient(#0691cd, #1aafee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0691cd',
		endColorstr='#1aafee', GradientType=0)
}

#a001-news {
	margin-bottom: 10px
}

#a001-news ul li {
	line-height: 1.4;
	padding-bottom: .3em
}

#a001-news ul span.date {
	color: #999
}

#a001-apps .bxslider a {
	display: block;
	text-align: center
}

#a001-apps .bxslider img {
	display: block;
	margin-bottom: 8px
}

#a002-login {
	width: 478px;
	float: left;
	margin-top: 10px
}

#a002-login form label {
	float: left;
	width: 120px
}

#a002-register {
	width: 478px;
	float: right;
	margin-top: 10px
}

#a003-login {
	width: 478px;
	margin: auto;
}

#a003-login form label {
	float: left;
	width: 120px;
}

table.sitemap {
	width: 100%;
	margin: 0 auto 20px 0
}

table.sitemap td {
	padding: 15px;
	border: 1px solid #ccc;
	vertical-align: middle
}

table.sitemap td:first-child {
	width: 200px;
	background: #f6f6f6
}

table.sitemap ul li {
	float: left;
	width: 40%;
	margin: 0 7% 0 3%;
	padding-bottom: 5px;
	line-height: 1.4;
	list-style: disc
}

table.sitemap ul a {
	display: block
}

#b001-menu ul li {
	border-top: 1px dotted #ccc
}

#b001-menu ul li:first-child {
	border: 0
}

#b001-menu ul a {
	display: block;
	padding: 10px 8px
}

#b001-menu ul a:hover {
	background: #f9f9f9;
	text-decoration: none
}

#b001-menu,#b001-search {
	margin-bottom: 10px
}

#b001-logout {
	margin-bottom: 10px
}

#b001-logout a {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 17px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #1aafee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0691cd),
		color-stop(1, #1aafee));
	background: -ms-linear-gradient(bottom, #0691cd, #1aafee);
	background: -moz-linear-gradient(center bottom, #0691cd 0, #1aafee 100%);
	background: -o-linear-gradient(#1aafee, #0691cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1aafee',
		endColorstr='#0691cd', GradientType=0)
}

#b001-logout a:hover {
	text-decoration: none;
	background: #0691cd;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1aafee),
		color-stop(1, #0691cd));
	background: -ms-linear-gradient(bottom, #1aafee, #0691cd);
	background: -moz-linear-gradient(center bottom, #1aafee 0, #0691cd 100%);
	background: -o-linear-gradient(#0691cd, #1aafee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0691cd',
		endColorstr='#1aafee', GradientType=0)
}

.ad-banner {
	margin-bottom: 10px
}

#b001-charge-status {
	margin-bottom: 10px
}

#b001-charge-status table.data {
	margin: 0
}

#register-steps {
	background: #ddd;
	*zoom: 1;
	padding: 6px 15px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

#register-steps:before,#register-steps:after {
	display: table;
	line-height: 0;
	content: ""
}

#register-steps:after {
	clear: both
}

#register-steps h2,#register-steps .step {
	float: left;
	font-size: 13px;
	margin: 0 10px 0 0
}

#register-steps h2 {
	color: #333;
	padding: 10px 0;
	margin-right: 20px
}

#register-steps .step {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 9px 20px;
	background: #009cdf;
	color: #fff
}

#register-steps .active {
	background: #fff;
	color: #009cdf
}

#e001-terms {
	margin-bottom: 10px
}

#e001-terms .scrollable {
	height: 150px;
	overflow: auto;
	font-size: 13px
}

input[type="submit"][disabled] {
	background: #DDDDDD;
	color: #999999;
	pointer-events: none;
}

.noborder td {
	border: 0 solid #CCCCCC;
	line-height: 1.4;
	padding: 12px;
	text-align: left;
	vertical-align: middle;
}

.txtCenter {
	text-align: center;
}

.txtRight {
	text-align: right;
	margin: 5px 5px 5px 0;
}

.inputInfinity {
	height: 400px;
	overflow: auto;
}.thong {
	height: auto;
	overflow: auto;
}

table.bordercss tr, table.bordercss td{
	border: 0;
}

.bordercss td{
	padding: 12px 10px;
}

table td{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
	word-break: break-all;
	white-space: normal;
}
span.paging-footer-space{
    padding-left:1em; /* Or desired space*/
}

/* Profile setting VU017 */
.inputProfile{
	width: 200px;
}

.detailsProfile{
	display:none;
}
.basicOrFullProfile{
	text-align: right;
	margin-top: -10px;
	margin-right: 0px;
}
.basicOrFullProfile .basic{
	display: none;
}
#top-links div{
	width: 200px;
	text-align: right;
	margin: 5px 0px;
}

.disabledLink{
	cursor: default !important;
	text-decoration: none !important;
	color: #ccc !important;
	/* pointer-events: none !important; */
}

#div_paging {
	overflow: auto;
	width: auto;
	height: 70vh
}

thead th.sorting,
thead th.sorting_asc,
thead th.sorting_desc {
  cursor: pointer;
  *cursor: hand;
}
thead th.sorting,
thead th.sorting_asc,
thead th.sorting_desc,
thead th.sorting_asc_disabled,
thead th.sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}
thead th.sorting {
  background-image: url("../images/sort_both.png");
}
thead th.sorting_asc {
  background-image: url("../images/sort_asc.png");
}
thead th.sorting_desc {
  background-image: url("../images/sort_desc.png");
}
thead th.sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}
thead th.sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}

.app_head {
  position: relative;
  padding-bottom: 20px;
  min-height: 100px;
}

.app_head .vendor_name {
  position: absolute;
  right: 0px;
  bottom: 0px;
}