/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.mr15 {
	margin-right: 15px;
}
.center-block {
	margin: 0 auto;
}
.mb15 {
	margin-bottom: 15px;
}
.mt5 {
	margin-top: 15px;
}
.mt15 {
	margin-top: 15px;
}
.table-title {
	line-height: 32px;
}
.table-responsive {
	overflow: auto;

	max-width: 100%;
	max-height: 60vh;
}
.phuc-table {
	position: relative;

	border-collapse: collapse;

	text-align: center;

	border: 1px solid #000;
	&.w100p {
		width: 100%;
	}
	th {
		font-weight: bold;

		white-space: nowrap;
	}
	td,
	th {
		font-size: 11px;
		line-height: 16px;

		padding: 10px 15px;

		text-align: center;
		vertical-align: middle;

		border: 1px solid #000;
	}
}
.table-responsive {
	overflow-x: auto;
}
.ui-widget-content {
	background: transparent;
}
/*-----------------------------------------------------------------------------------*/
/*  Facebook post style
/*-----------------------------------------------------------------------------------*/
.img-responsive {
	width: 100%;
	height: auto;
}
.postTitle {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1em;

	margin-bottom: 5px;

	color: black;
}
/* Style the Image Used to Trigger the Modal */
.postImg {
	margin: 10px 0;

	cursor: pointer;
	transition: 0.3s;

	border-radius: 5px;
	&:hover {
		opacity: 0.7;
	}
}
.post-btn {
	font-weight: bold;

	position: relative;

	padding: 20px 20px 0 0;

	cursor: pointer;

	color: #7f7f7f;
}
.post-btn:hover {
	text-decoration: underline;
}

.postContent {
	font-size: 13px;
}
.comment-wrapper {
	width: 94%;
}
.comment {
	width: 100%;
	height: 25px;
}
.cameraBtn {
	position: relative;
	z-index: 2;

	float: right;

	margin-top: -20px;
	margin-right: 30px;
}
.stickerBtn {
	position: relative;
	z-index: 2;

	float: right;

	margin-top: -20px;
	margin-right: 10px;
}
.avatar {
	height: 30px;
	margin-right: 10px;
}
a {
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.strong {
	font-weight: bold;
}
.em {
	font-style: italic;
}
.postInfo {
	display: block; /* Spans are inline element so needs to be changed to block in order for the margin to work */

	margin-top: 5px;
	margin-bottom: 10px;

	color: #808080;
}
p {
	font-size: 12px;
	line-height: 1.5em;
}
.line {
	display: block;

	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;

	background-color: #ccc;
}

.more,
.less {
	font-weight: bold;

	color: #3b5998;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

/*-----------------------------------------------------------------------------------*/
/*  Modal
/*-----------------------------------------------------------------------------------*/
/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	top: 0;
	left: 0;

	display: none; /* Hidden by default */
	overflow: auto; /* Enable scroll if needed */

	width: 100%; /* Full width */
	height: 100%; /* Full height */
	padding-top: 100px; /* Location of the box */

	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* The Close Button */
.close {
	font-size: 40px;
	font-weight: bold;

	position: absolute;
	top: 15px;
	right: 35px;

	transition: 0.3s;

	color: #f1f1f1;
}
.close-share {
	font-size: 28px;
	font-weight: bold;

	float: right;

	color: #aaa;
}

.close,
.close-share {
	&:hover,
	:focus {
		cursor: pointer;
		text-decoration: none;

		color: #bbb;
	}
}

///// For modal share post
/* Modal Header */
.modal-header {
	padding: 2px 16px;

	color: white;
	border-style: solid;
	border-color: #bbb;
	background-color: #e5e5e5;
}
/* Modal Content */
.modal-content {
	position: relative;

	width: 50%;
	margin: auto;
	padding: 0;

	-webkit-animation-name: animatetop;
	animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;

	border: 1px solid #888;
	background-color: #fefefe;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
	padding: 2px 16px;

	color: white;
	background-color: #e5e5e5;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;

		opacity: 0;
	}
	to {
		top: 0;

		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;

		opacity: 0;
	}
	to {
		top: 0;

		opacity: 1;
	}
}


///// For image modal
/* Modal Content (Image) */
#img-content {
	display: block;

	width: 80%;
	max-width: 700px;
	margin: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
	display: block;

	width: 80%;
	max-width: 700px;
	height: 150px;
	margin: auto;
	padding: 10px 0;

	text-align: center;

	color: #ccc;
}

/* Add Animation - Zoom in the Modal */
#img-content,
#caption {
	-webkit-animation-name: zoom;
	animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}


// styling of console output element (triggered by parameter 'devmode' and 'logger' in url)
.js-logger {
	font-size: 14px;

	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 20px;
	left: 20px;

	overflow-y: auto;

	height: calc(100% / 6);
	padding: 20px;

	color: #fff;
	border: 10px solid red;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.9);
}
