
/* ===================================================
VEAMS SETTINGS
=================================================== */
$min-width: false; // This variable will be used in veams-sass


// Demo Variables
$bp-tablet-l: 1024px;
$bp-tablet-p: 768px;
$bp-mobile-l: 657px;
$bp-mobile-p: 480px;



/* ===================================================
BOOTSTRAP SETTINGS
=================================================== */
// The settings can be found here:
// ../../bower-components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
// Just copy and paste the things you need

