<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

    {{> b-version}}

<html lang="en" class="no-js"> <!--<![endif]-->
<head>

    {{#block "metadata"}}
        {{> _metadata }}
    {{/block}}
    {{#block "styles"}}
        {{> _styles }}
    {{/block}}

</head>

<body class="{{bodyclass}}">
<div id="wrapper">


    <header id="header-main">
        <div id="logo">

            <a id="headerLogo" href=""><img
                    src="{{assets}}img/logo.png" title="NPO法人 医療福祉クラウド協会"></a>
        </div>
        <div id="tagline"><img src="{{assets}}img/tagline.png" title="NPO法人 医療福祉クラウド協会"></div>
        <div id="header-login-time">
            <table>
                <tbody>
                <tr>
                    <td>組織名:</td>

                    <td align="right"><span id="headerOrgName">株式会社徳川家康</span></td>


                </tr>
                <tr>
                    <td>ログイン名:</td>
                    <td align="right">
					<span id="headerLoginName">

						<a id="loginUser" href="/vendor/PI001">徳川 家康</a>
					</span>
                    </td>
                </tr>
                <tr>
                    <td>前回ログイン:</td>
                    <td align="right"><span id="headerLastLogin">2016-10-22 12:45:14</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav id="top-links">

            <a id="headerMypage" href="/vendor/VH001">マイページ</a> |

            <a id="headerLogout" href="/logout">ログアウト</a>
        </nav>
    </header>

    <nav id="nav-main">
        <ul>
            <li>
                <a id="headerNaviOverview" href="http://www.mewca.jp/">協会概要</a>
            </li>
            <li>

                <a id="headerNaviContact" href="/CQ001">お問い合わせ</a>
            </li>
        </ul>
    </nav>


    <div id="main-left">


        <!-- Using for user normal -->
        <div class="block" id="b001-menu">
            <div class="heading">
                <h3>メニュー</h3>
            </div>
            <div class="content">
                <ul>
                    <li>

                        <a id="userManage" href="/vendor/PI001">プロフィール</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Using for user admin -->

        <div class="block" id="b001-menu">
            <div class="heading">
                <h3>管理</h3>
            </div>
            <div class="content">
                <ul>

                    <li>

                        <a id="appManage" href="/vendor/VA001">アプリケーション管理</a>
                    </li>


                    <li>

                        <a id="departmentManage" href="/vendor/VD001">部署管理</a>
                    </li>
                    <li>

                        <a id="positionManage" href="/vendor/VP001">役職管理</a>
                    </li>
                    <li>

                        <a id="infoManage" href="/vendor/VI001">組織情報管理</a>
                    </li>


                    <li>

                        <a id="userManage" href="/vendor/VU007">ユーザー管理</a>
                    </li>


                </ul>
            </div>
        </div>


        <div class="block" id="b001-search">
            <div class="heading"><h3>アプリクイック検索</h3></div>
            <div class="content">
                <form id="VH001" name="VH001" action="/vendor/VH001"
                      method="post">
                    <p><input type="text" name="keyword" id="keyword"></p>
                    <p class="form-err-msg" id="keyword_error" style="display: none;"></p>
                    <p class="align-center no-spacing-b">
                        <a id="search" class="btn">検索</a></p>
                    <table class="wwFormTable">


                    </table>
                </form>


            </div>
        </div>


    </div>
    <!--#main-left-->

    <div id="main">
        <div id="main-right">
            {{#block "main"}}{{/block}}
        </div>
    </div><!--#main-->


    <footer id="footer-main">
        <p class="footer-links">
            <a id="footerOverview" href="http://www.mewca.jp/">協会概要</a> &nbsp;|&nbsp;

            <a id="footerTerm" href="/CC002">利用規約</a> &nbsp;|&nbsp;

            <a id="footerPolicy" href="/CC003">プライバシーポリシー</a> &nbsp;|&nbsp;

            <a id="footerContact" href="/CQ001">お問い合わせ</a>
        </p>
        <p>Copyright © 2016 Medical Welfare Cloud Association All rights Reserved.</p>
    </footer>
</div>

<!-- Scripts
================================================== -->
{{#block "scripts"}}
    {{> _scripts }}
{{/block}}

</body>
</html>