<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7"/>
<meta name="viewport" content="width=device-width"/>
<title>
    {{title}} | {{config.title}}
</title>

<meta name="description" content="MeWCA Portal一般ご利用者さまのマイページTOPです。ここからご登録いただいているアプリの利用ができます。またその他にも、ご利用中のアプリ情報の確認や、アプリの検索、ご登録情報の確認ができます。">
<meta name="author" content="">
<meta name="keywords" content="医療アプリ,福祉アプリ,クラウドアプリ,医療クラウド,クラウドサービス,MeWCA,医療福祉クラウド協会,MeWCA Portal,NPO法人 医療福祉クラウド協会">

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="{{assets}}images/favicon.jpg">
<!-- Style sheets, JavaScript -->
<!-- Style sheets -->
<link rel="stylesheet" href="{{assets}}css/main.css">
<link rel="stylesheet" href="{{assets}}css/jquery.bxslider.css">
<link rel="stylesheet" href="{{assets}}css/jquery-ui-1.9.2.min.css">
<link rel="stylesheet" href="{{assets}}css/custom.css">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<![endif]-->

<!-- Scripts -->
<script type="text/javascript" src="{{assets}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{assets}}js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="{{assets}}js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="{{assets}}js/main.js"></script>
<script type="text/javascript" src="{{assets}}js/common.js"></script>


<script type="text/javascript">
    $(function() {
        function processData() {
            errorId = "keyword_error";
            var keywordVal = $("#keyword").val().trim();
            var maxPerPage = 20;
            var url = "/mewcaportal/vendor/VA001?pageIndex=1&recordsPerPage="+maxPerPage+"&keyword="+encodeURIComponent(keywordVal);

            //Add error message
            if (keywordVal == "") {
                /* 					itemName = "<bean:message key='common.quicksearch.keyword' bundle='com'/>";
                                    errorMsg = "<bean:message key='errors.required' arg0='"+itemName+"'/>";
                                    //Remove
                                     $('#'+ errorId).empty();
                                    // Add error message
                                    $('#'+ errorId).css("display","block");
                                    $('#'+ errorId).append("<label style='color: red'>"+errorMsg+"</label>"); */
            } else {
                //Remove
                $('#'+ errorId).empty();
                // Redirect
                //alert(url);
                $(location).attr('href',url);
            }
        }

        // use when press keyboard enter
        $('#keyword').keypress(function(event){
            var isEnter = pressEnter(event);
            if(isEnter) {
                processData();
                return false;
            }
        });

        // use when click "search" button
        $("#search").click(function() {
            processData();
        });
    });
</script>



<script>
    $(function() {
        $('.bxslider').bxSlider({
            minSlides: 4,
            maxSlides: 4,
            slideWidth: 120,
            slideMargin: 30,
            pager: false
        });
    });
</script>