<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js" integrity="sha256-1uH5nQ+1cUZEU9YOfMzc9rapsWyuGtvKPpvKN9xDgug=" crossorigin="anonymous"></script>
<script src="{{assets}}js/custom.js"></script>
<script src="{{assets}}js/reaction.js"></script>
<script src="{{assets}}js/chart.js"></script>


