<link rel="stylesheet" href="{{assets}}css/styles.css"/>
<link rel="stylesheet" href="{{assets}}css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.4.0/hint.min.css">
<link rel="stylesheet" href="{{assets}}css/reaction.css">